

{% extends "base.html" %}
{% block profile %}
	<ul>
		<h1>中文Query sessions created by {{ user.username }}</h1><br>
		{% for query_session in query_sessions %}
			
			<h4><a id = {{ query_session.meta.id }} >
			{{ query_session.meta.last_query.keyword }} , {{ query_session.meta.created_time }}</a></h4> 
			<a href='/profile/querysession/delete/{{ query_session.meta.id }}'>delete</a>
			<div id = div_{{ query_session.meta.id }}>
				{% for event in query_session.details %}
				<li>
				{% ifequal event.action 'EQ' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Entered query session
				{% endifequal %} 
				{% ifequal event.action 'CR' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Created new tab | Parent event : {{ event.parent.id }} 
				{% endifequal %}
				{% ifequal event.action 'SR' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Searched for '{{ event.query.keyword}}' | Parent event : {{ event.parent.id }} 
				{% endifequal %}
				{% ifequal event.action 'JP' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Page Jumped to '{{ event.url.url}}' | Parent event : {{ event.parent.id }} 
				{% endifequal %}
				{% ifequal event.action 'SW' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Page focus changed | Parent event : {{ event.parent.id }} 
				{% endifequal %}
				{% ifequal event.action 'CL' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Page closed | Parent event : {{ event.parent.id }} 
				{% endifequal %}
				{% ifequal event.action 'LQ' %}
					event_id:{{ event.id}}  | {{ event.timestamp }} | Left query session
				{% endifequal %}
				</li>
				{% endfor %}
			</div>
		{% endfor %}
	</ul>

	<h3>Raw data</h3>
	{% for log in raw %}
	<li>
		{{ log.timestamp }},{{ log.action }},{{ log.additional }}
	</li>
	{% endfor %}
{% endblock %}
