@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
/* 	background: #009FAA url(../images/body_bg.png) repeat-x; */
	margin-top: 40px;
}

#login_div{
	width: 600px;
	margin: 0 auto;
	height: 200px;
	padding: 10px 0;
/* 	background: transparent url(../images/form_bg.png) no-repeat; */
	position: relative;
	background-color: #333333;
}

#bookmark_div{
	width: 600px;
	margin: 0 auto;
	height: 200px;
	padding: 10px 0;
/* 	background: transparent url(../images/form_bg.png) no-repeat; */
	position: relative;
	background-color: #333333;
}

form fieldset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0px 0px 20px 0px;
	width: 578px;
	position: relative;
	border: 0;
	display: block;
	padding: 0px 10px 8px;

}

form fieldset legend {
	border-width: 2px;
	border-style: solid;
	border-color: #BBBB66;
	color: #000;/* #3D7169;*/
	font-weight: bold;
	font-variant: small-caps;
	font-size: 140%;
	padding: 4px 8px;
	margin: 0px 0px 10px 0px;
	position: relative;
	top: -12px;
	background: white;

}

label {
	font-size: 90%;
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	margin: .2em .2em 0 0;
	color: #444;
	font-weight: bold;
	padding: 8px 0px;
}

label.error {
	font-weight: normal;
	color: red;
	text-align: left;
	width: 140px;
	padding-left: 25px;
/* 	background: transparent url(../images/cancel.png) no-repeat scroll left; */
}

input.text_input {
	margin: 4px;
	padding: 2px 0;
	color: #333;
	width: 300px;
}

label#user_id_label label#bookmark_name_label label#bookmark_description_label {
	position: absolute;
	top: 0;
	left: 0;
}

input#user_id input#bookmark_name input#bookmark_description{
	position: absolute;
	top: 0;
	left: 110px;
}

label#username_error {
	position: absolute;
	top: 22px;
	left: 120px;
}

label#password_label {
	position: absolute;
	top: 45px;
	left: 0px;
}

input#password {
	position: absolute;
	top: 45px;
	left: 110px;
}

label#password_error {
	position: absolute;
	top: 67px;
	left: 120px;
}

/* label#phone_label { */
/* 	position: absolute; */
/* 	top: 90px; */
/* 	left: 0px; */
/* } */

/* input#phone { */
/* 	position: absolute; */
/* 	top: 90px; */
/* 	left: 110px; */
/* } */

/* label#phone_error { */
/* 	position: absolute; */
/* 	top: 112px; */
/* 	left: 120px; */
/* } */

input.button {
/*	position: absolute;
	top: 125px;
	left: 120px;
	padding: 3px 6px;
	margin: 20px 0px 0px 0px;
*/
	border: 2px solid #fff;
	width: 50px;
	position: relative;
	left: 50%;
	top: 10px;	
	color: #3D7169;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #CCC;
	-moz-border-radius: 5px;
}

input.button:hover {
	background: #009FAA none repeat scroll 0% 0%;
	color: white;
}

#message {
	width: 180px;
	margin: 60px 0 0 100px;
}

#message h2 {
	font-size: 150%;
	color: white;
}

#message p {
	color: white;
	font-weight: bold;
	margin: 6px 0px;
}

#checkmark {
	position: relative;
	top: -46px;
	left: -60px;
}

#suggestion {
	width: 200px;
	height: 200px;
	margin: 10px;
	
	background-color: red;
}

div {
	display: block;
	text-align: left;
}

div#himum {position: absolute; height:100px; width:600px; absolute; top:0; left:100px;}